<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link href="./main.css" rel="stylesheet">
</head>

<body>
  <div id="app">
    <div v-if="isAddingTask === true">
      <label for="taskName">Task Name</label>
      <input class="form-control" name="taskName" placeholder="50 characters or less" type="text" v-model="task.name" />
      <label for="taskUrl">Task URL</label>
      <input class="form-control" name="taskUrl" placeholder="optional" v-model="task.url" />
      <button class="btn btn-primary btn-small" @click="addTask">Add Task</button>
    </div>

    <div v-if="isSelectingWorkspace === true">
      <label for="workspaceName">Workspace</label>
      <select class="form-control" name="workspaceName" type="text" v-model="workspace.gid">
        <option v-for="workspace in workspaces" :value="workspace.gid">{{ workspace.name }}</option>
      </select>
      <button class="btn btn-primary btn-small" @click="selectWorkspace">Select</button>
    </div>

    <div id="loading-wrapper" v-if="isLoading === true"></div>
  </div>

  <div id="add-task"></div>
  <div id="select-workspace"></div>

  <script src="https://static.zdassets.com/zendesk_app_framework_sdk/2.0/zaf_sdk.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery/3.0.0/jquery.min.js"></script>
  <script src="./vue.min.js"></script>
  <script src="./main.js"></script>
</body>

</html>
